[submodule "LATIHAN1DPBO2023"]
	path = LATIHAN1DPBO2023
	url = https://github.com/bwbayu/LATIHAN1DPBO2023
[submodule "LATIHAN2DPBO2023"]
	path = LATIHAN2DPBO2023
	url = https://github.com/bwbayu/LATIHAN2DPBO2023
[submodule "LATIHAN4DPBO2023"]
	path = LATIHAN4DPBO2023
	url = https://github.com/bwbayu/LATIHAN4DPBO2023
[submodule "TP1DPBO2023"]
	path = TP1DPBO2023
	url = https://github.com/bwbayu/TP1DPBO2023
[submodule "LATIHAN5DPBO2023"]
	path = LATIHAN5DPBO2023
	url = https://github.com/bwbayu/LATIHAN5DPBO2023
[submodule "TP2DPBO2023"]
	path = TP2DPBO2023
	url = https://github.com/bwbayu/TP2DPBO2023
[submodule "LATIHAN7DPBO2023"]
	path = LATIHAN7DPBO2023
	url = https://github.com/bwbayu/LP7C2DPBO2023
[submodule "TP3DPBO2023"]
	path = TP3DPBO2023
	url = https://github.com/bwbayu/TP3DPBO2023C2
[submodule "TP4DPBO2023"]
	path = TP4DPBO2023
	url = https://github.com/bwbayu/TP4DPBO2023C2
[submodule "LP9DPBO2023"]
	path = LP9DPBO2023
	url = https://github.com/bwbayu/LP9DPBO2023C2
[submodule "LATIHAN11DPBO2023"]
	path = LATIHAN11DPBO2023
	url = https://github.com/bwbayu/LP11DPBO2023C2
[submodule "LATIHAN12DPBO2023"]
	path = LATIHAN12DPBO2023
	url = https://github.com/bwbayu/LP12DPBO2023C2
