<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <title>title</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.php">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <br />
    <br />

    <div class="col">
        <!-- FORM -->
        <h3>Seleksi Modul</h3>
        <form method="post" action="index.php">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="idmodul">Id</label>
                            <input type="number" name="idmodul" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="judul">Judul Masuk</label>
                            <input type="text" name="judul" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="tgl_masuk">Tanggal Masuk</label>
                            <input type="date" name="tgl_masuk" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="namaPengirim">Nama Pengirim</label>
                            <input type="text" name="namaPengirim" class="form-control" required>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success" type="submit" name=add>Simpan</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Tabel 1 -->
        <div style="display: inline-block;">
            <h3>Modul Masuk</h3>
            <!-- TABEL1 -->
            <table align="left" border="1" class="table" style="text-align: center;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id Modul</th>
                        <th scope="col">Judul Modul</th>
                        <th scope="col">Tanggal Masuk</th>
                        <th scope="col">Nama Pengirim</th>
                        <th scope="col">Skor</th>
                        <th scope="col">Action</th>
                        <th scope="col">Insentif</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tr>
                    DATA_TABEL_A
                </tr>
            </table>
            <br>
        </div>
        <div style="display: inline-block;">
            <h3>Modul Lolos</h3>
            <!-- TABEL1 -->
            <table align="left" border="1" class="table" style="text-align: center;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id Modul</th>
                        <th scope="col">Judul Modul</th>
                        <th scope="col">Tanggal Masuk</th>
                        <th scope="col">Nama Pengirim</th>
                        <th scope="col">Skor</th>
                        <th scope="col">Insentif</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tr>
                    DATA_TABEL_B
                </tr>
            </table>
            <br>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>